/BraveSoftware
/Code - OSS
/JetBrains
/autostart
/cef_user_data
/coc
/dconf
/evolution
/gh
/gtk-2.0
/gtk-3.0
/gtk-4.0
/libfm
/neofetch
/nitrogen
/pcmanfm
/pulse
.gsd-keyboard.settings-ported
dleyna-renderer-service.conf
mimeapps.list
user-dirs.dirs
user-dirs.locale
